.main-input {
    background: #fff;
    height: 50px;
    // width: 327px;
    // color: #a7b1ab;
    border: 1px solid #cccccc;
    margin-bottom: 0px;
    -webkit-appearance: none;
    border-radius: 4px 0px 0px 4px;
    display: inline-block;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 0px 0px 57px;
    font-size: 16px;
    // border-right: 0px;
    background: #ffffff url("http://seodesigns.com/projects/TD/images/search.png") 18px 15px no-repeat;
    background-size: 18px 18px;
    outline: none;
    @media (max-width:480px) {
        width: 90%;
    }
}

.main-location {
    display: none;
}

#main-submit {
    background: #3cb13c;
    color: #fff;
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    margin-bottom: 0px;
    -webkit-appearance: none;
    border-radius: 0px 4px 4px 0px;
    -moz-border-radius: 0px 4px 4px 0px;
    -webkit-border-radius: 0px 4px 4px 0px;
    width: 141px;
    height: 50px;
    border: 0px;
    padding-top:0px;
}

#main-submit:hover {
    background: #00a221;
    color: #fff !important;
    -webkit-appearance: none;
}

#main-submit-mobile {
    display: none;
}

footer {
    border-top: 0px;
}

.main-btn {
    display: inline-block;
    width: 150px;
    height: 52px;
    border: 1px solid #0a0a0a2b;
    padding: 0px;
    position: relative;
    border-right: 0px;
    background: #ffffff url("http://seodesigns.com/projects/TD/images/main-bullet.png") 122px 23px no-repeat;
    background-size: 6px 6px;
    cursor: pointer;
}

.search-small {
    font-size: 12px;
    margin: 0px;
    color: #9B9B9B;
    position: absolute;
    top: 6px;
    left: 16px;
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: left;
}

.search-large {
    font-size: 16px;
    margin: 0px;
    color: #4A4A4A;
    position: absolute;
    top: 19px;
    left: 16px;
    display: inline-block;
    width: 105px;
    height: 20px;
    font-weight: 900;
    text-align: left;
}

.main-form-container {

    position: relative;
    display: flex;
    // flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    margin-top: 30px;
    @media (max-width:480px) {
        flex-wrap: wrap;
    }
}

ul.search-description {
    width: 150px;
    position: absolute;
    background: #fff;
    top: 55px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 14px 0px;
    border: 1px solid #E5E5E5;
    // display: none;
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

.search-description li {
    font-size: 16px;
    color: #4A4A4A;
    font-weight: 900;
    padding: 6px 0px;
    display: block;
    padding-left: 16px;
    cursor: pointer;
}

.search-description li:hover {
    background: #f8f8f8;
}