.stats{
    display: flex;
    padding-top: 100px;
    flex-direction: column;
    gap: 50px;
    
}

.d3Container{
	width: 100%;
	height: 50vh;
    color: white!important;
    // margin-top: 100px;
}